<!doctype html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Document</title>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');
        .btn:not(.nav-btns button){
            background-color: #fff;
            color: rgb(85, 85, 85);
            padding: 10px 28px;
            border-radius: 25px;
            border: none;
        }
        body{
            background: white;
        }
        .navbar {
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
        }
        .navbar .navbar-brand img {
            max-width: 100px;
        }
        .navbar .navbar-nav .nav-link {
            color: #000;
        }
        @media screen and (min-width: 1024px) {
            .navbar {
                letter-spacing: 0.1em;
            }
            .navbar .navbar-nav .nav-link {
                padding: 0.5em 1em;
            }
            .search-and-icons {
                width: 50%;
            }
            .search-and-icons form {
                flex: 1;
            }
        }
        @media screen and (min-width: 768px) {
            .navbar .navbar-brand img {
                max-width: 7em;
            }
            .navbar .navbar-collapse {
                display: flex;
                flex-direction: column-reverse;
                align-items: flex-end;
            }
            .search-and-icons {
                display: flex;
                align-items: center;
            }
        }
        .search-and-icons form input {
            border-radius: 0;
            height: 2em;
            background: #fff
            url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='grey' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'/%3E%3C/svg%3E")
            no-repeat 95%;
        }
        .search-and-icons form input:focus {
            background: #fff;
            box-shadow: none;
        }
        .search-and-icons .user-icons div {
            padding-right: 1em;
        }
        .contact-info p,
        .contact-info a {
            font-size: 0.9em;
            padding-right: 1em;
            color: grey;
        }
        .contact-info a {
            padding-right: 0;
        }
    </style>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light " style="background: #3ab9c5; color: white; font-weight: 600;" >
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{/images/logo.jpg}" style="border-radius: 18px; margin-left: 40px;" src="../static/Images/logo.jpg" width="auto" height="40" class="d-inline-block align-top" alt=""/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" style="color: white; font-weight: 600;" th:href="@{/}" href="#">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" style="color: white; font-weight: 600;" th:href="@{/shop}" href="#">Shop</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#" style="color: white;font-weight: 600" th:href="@{/cart}">Cart<p style="display: inline;">(<span th:text="${cartCount}">0</span>)</p></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" style="color: white; font-weight: 600;" sec:authorize="isAnonymous()" th:href="@{/login}" href="#">Login</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" style="color: white; font-weight: 600;" sec:authorize="isAuthenticated()" th:href="@{/logout}" href="#">Logout</a>
                </li>
            </ul>

        </div>
    </div>
</nav>


<div class="container">

    <!--Section: Block Content-->
    <section class="mt-5 mb-4">

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-lg-8 mb-4">

                <!-- Card -->
                <div class="card wish-list pb-1">
                    <div class="card-body">

                        <h5 class="mb-2">Billing details</h5>

                        <!-- Grid row -->
                        <div class="row">

                            <!-- Grid column -->
                            <div class="col-lg-6">

                                <!-- First name -->
                                <div class="md-form md-outline mb-0 mb-lg-4">
                                    <label for="firstName">First name</label>
                                    <input type="text" id="firstName" required class="form-control mb-0 mb-lg-2">
                                </div>

                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-lg-6">

                                <!-- Last name -->
                                <div class="md-form md-outline">
                                    <label for="lastName">Last name</label>
                                    <input type="text" id="lastName" required class="form-control">
                                </div>

                            </div>
                            <!-- Grid column -->

                        </div>
                        <!-- Grid row -->

                        <!-- Country -->
                        <div class="d-flex flex-wrap">
                            <div class="select-outline position-relative w-100" style="margin-top: 15px">
                                <label>Available Only In - <strong>INDORE</strong></label>
                            </div>
                        </div>

                        <!-- Address Part 1 -->
                        <div class="md-form md-outline mt-2">
                            <label for="add1">Address (Line 1)</label>
                            <input type="text" required id="add1" placeholder="House number and street name" class="form-control">
                        </div>

                        <!-- Address Part 2 -->
                        <div class="md-form md-outline mt-2">
                            <label for="add2">Address (Line 2)</label>
                            <input type="text" id="add2" placeholder="Apartment, suite, unit etc. (optional)"
                                   class="form-control">
                        </div>

                        <!-- Postcode / ZIP -->
                        <div class="md-form md-outline mt-3">
                            <label for="zip">Postcode / ZIP</label>
                            <input type="text" maxlength="6" minlength="6" required id="zip" class="form-control">
                        </div>

                        <!-- Town / City -->
                        <!--                        <div class="md-form md-outline mt-2">-->
                        <!--                            <label for="form17">Town / City</label>-->
                        <!--                            <input type="text" required id="form17" class="form-control">-->

                        <!--                        </div>-->

                        <!-- Phone -->
                        <div class="md-form md-outline mt-2">
                            <label for="phone">Phone</label>
                            <input type="number" minlength="10" maxlength="10" required id="phone" class="form-control">
                        </div>

                        <!-- Email address -->
                        <div class="md-form md-outline mt-2">
                            <label for="email">Email address</label>
                            <input type="email" required id="email" class="form-control">
                        </div>

                        <!-- Additional information -->
                        <div class="md-form md-outline mt-2">
                            <label for="additional">Additional information</label>
                            <textarea id="additional" class="md-textarea form-control" required rows="4"></textarea>
                        </div>



                    </div>
                </div>
                <!-- Card -->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4">

                <!-- Card -->
                <div class="card mb-4">
                    <div class="card-body">

                        <h5 class="mb-3">The total amount </h5>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                Amount Payable
                                <span>₹<span th:text="${total}"></span></span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                Shipping
                                <span>60.00</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                <div>
                                    <strong>The total amount of</strong>
                                    <strong>
                                        <p class="mb-0">(including VAT)</p>
                                    </strong>
                                </div>
                                <span><strong>₹<span id="totalAmount" th:text="${total+60}">100</span></strong></span>

                            </li>
                        </ul>

                        <!--                        <form action="" method="post" th:action="@{/payNow}" >-->
                        <button type="submit" onclick="paymentStarted()" class="btn  btn-block waves-effect waves-light" style="background: #3ab9c5; color: white; font-weight: 600;">Pay Now</button>
                        <!--                        </form>-->

                    </div>
                </div>
                <!-- Card -->

                <!-- Card -->
                <div class="card mb-4">
                    <div class="card-body">

                        <a class="dark-grey-text d-flex justify-content-between" data-toggle="collapse" href="#collapseExample"
                           aria-expanded="false" aria-controls="collapseExample" style=" color: #3ab9c5; font-weight: 600;">
                            Add a discount code (optional)
                            <span><i class="fas fa-chevron-down pt-1"></i></span>
                        </a>

                        <div class="collapse" id="collapseExample">
                            <div class="mt-3">
                                <div class="md-form md-outline mb-0">
                                    <input type="text" id="discount-code" class="form-control font-weight-light"
                                           placeholder="Enter discount code">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Card -->

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </section>
    <!--Section: Block Content-->
</div>

    <script>
        const paymentStarted = () => {
            console.log("payment Started.....");
            let amount = document.getElementById("totalAmount").innerText; // Corrected element selection
            // let amount = $("#totalAmount").val();
            console.log(amount)
            let firstName = $("#firstName").val()
            let lastName = $("#lastName").val()
            let add1 = $("#add1").val()
            let add2 = $("#add2").val()
            let zip = $("#zip").val()
            let phone = $("#phone").val()
            let email = $("#email").val()
            let additional = $("#additional").val()

            console.log(amount);
            console.log(firstName);

            if (amount === "" || amount == null) {
                alert("Amount t is required....." + amount);
                return;
            }


            $.ajax(
                {
                    url: '/booking',
                    data: JSON.stringify({
                        amount: amount,
                        firstName: firstName,
                        lastName: lastName,
                        add1: add1,
                        add2: add2,
                        zip: zip,
                        phone: phone,
                        email: email,
                        additional: additional
                    }),
                    contentType: 'application/json',
                    type: 'POST',
                    dataType: 'json',
                    success: function (response) {
                        console.log(response)
                        if (response.status === 'created') {
                            let option = {
                                key: 'rzp_test_CAOmLVEJtoNizm',
                                amount: response.amount,
                                currency: 'INR',
                                name: 'Sanwara Collection',
                                description: 'Clothing Store In Indore',
                                phone:'+91 6260461494',
                                email:'sanwara.collection@gmail.com',
                                image: '/static/Images/logo.jpg',
                                order_id: response.id,
                                handler: function (response) {

                                    console.log(response.razorpay_payment_id)
                                    console.log(response.razorpay_order_id)
                                    console.log(response.razorpay_signature)

                                    console.log("Payment Successfully.......")

                                    window.location.href = "/orderPlaced";
                                },
                                prefill: {
                                    name: "",
                                    email: "",
                                    contact: ""
                                },
                                notes: {
                                    address: "Razorpay Corporate Office",
                                },
                                theme: {
                                    "color": "#3399cc"
                                },
                            };

                            let rzp1 = new Razorpay(option);
                            rzp1.on('payment.failed', function (response) {
                                alert(response.error.code);
                                alert(response.error.description);
                                alert(response.error.source);
                                alert(response.error.step);
                                alert(response.error.reason);
                                alert(response.error.metadata.order_id);
                                alert(response.error.metadata.payment_id);
                            });

                            rzp1.open();
                        }
                    }
                },
            )
        }
    </script>

</body>
</html>